<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Halvarsson &amp;CO: Fatal error</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/style.css}" rel="STYLESHEET" type="text/css" />
<style>
</style>
</head>

<body>
<div th:replace="fragments/top :: top"></div>
<div th:replace="fragments/navigation :: navigation"></div>

<div id="middle">
<h2>Fatal error</h2>
<p>
Something unexpected happened!
</p>
</div>

<div th:replace="fragments/bottom :: bottom"></div>
</body>
</html>
